<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/Autopilot.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="container py-2 feature-section">
      <div class="row">
        <div class="col-md-4">
          <div class="feature-box text-center">
            <img src="/images/5457799.png" alt="Icon 1" class="feature-icon" />
            <h4 class="feature-title">Grown Today, Delivered Tomorrow</h4>
            <p class="feature-text">
              Our organic fruit and vegetable are grown by farmers who use only
              natural fertilisers on their own land.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box text-center">
            <img src="/images/5562062.png" alt="Icon 2" class="feature-icon" />
            <h4 class="feature-title">Not Your Average Grocery Delivery</h4>
            <p class="feature-text">
              Save yourself time, money and a bit of sanity with these easy and
              affordable grocery delivery services.
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box text-center">
            <img src="/images/home.png" alt="Icon 3" class="feature-icon" />
            <h4 class="feature-title">Your Favorites on Autopilot</h4>
            <p class="feature-text">
              Put healthy eating on autopilot with a mix of vegetables, fruits
              and other organic produce & clean ingredients.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
