<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/home.css" />
    <title>Document</title>
  </head>
  <body>
     
    <section class="hero-section">
      <div class="container">
        <div class="row">
          <!-- Text Column -->
          <div class="text-section">
            <p class="mb-2">Starting at <span class="highlight">$22</span></p>
            <h1 class="hero-text">
              Grocery Right <br />
              At Your Door
            </h1>
            <p class="hero-subtext">
              Only this weekend for the remaining of the month.
            </p>
            <a href="#" class="btn shop-now-btn mt-3 btn btn-warning"
              >Shop Now</a
            >
          </div>
          <!-- Image Column -->
          <div class="col-md-6">
            <img
              src="/images/Main-slider_pic.png"
              alt="Groceries"
              class="hero-image img-fluid w-75"
            />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
