<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/createProducts.css" />
    <title>Create New Product</title>
  </head>
  <body>
    <% if (success.length > 0) { %>
    <div class="error-message"><%= success[0] %></div>
    <% } %>
    <div class="page-container">
      <div class="container">
        <div class="sidebar">
          <div class="sidebar-links">
            <a href="">All Products</a>
            <a href="">Create new product</a>
          </div>
        </div>
        <main class="main-content">
          <h2>Create New Product</h2>
          <form
            autocomplete="off"
            action="/products/create "
            method="post"
            enctype="multipart/form-data"
          >
            <div class="form-section">
              <h3>Product Details</h3>
              <div class="form-group">
                <label>Product Image</label>
                <input
                  name="image"
                  type="file"
                  class="input-file"
                  value="Select File"
                />
              </div>
              <div class="form-grid">
                <input
                  name="name"
                  type="text"
                  placeholder="Product Name"
                  class="input-text"
                />
                <input
                  name="price"
                  type="text"
                  placeholder="Product Price"
                  class="input-text"
                />
                <input
                  name="discount"
                  type="text"
                  placeholder="Discount Price"
                  class="input-text"
                />
              </div>
            </div>

            <div class="form-section">
              <h3>Panel Details</h3>
              <div class="form-grid">
                <input
                  name="bgcolor"
                  type="text"
                  placeholder="Background Color"
                  class="input-text"
                />
                <input
                  name="panelcolor"
                  type="text"
                  placeholder="Panel Color"
                  class="input-text"
                />
                <input
                  name="textcolor"
                  type="text"
                  placeholder="Text Color"
                  class="input-text"
                />
              </div>
            </div>
            <input
              class="submit-button"
              type="submit"
              value="Create New Product"
            />
          </form>
        </main>
      </div>
    </div>
  </body>
</html>
