<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <title>Registration</title>
  </head>
  <body>
    <% if(error.length>0){ %>
    <div class="error-message">
      <span> <%= error %> </span>
    </div>
    <% } %>
    <div class="container">
      <div class="left-section">
        <div class="form-wrapper">
          <h3>Welcome to <span class="highlight">Scatch</span></h3>
          <h4>Create your account</h4>
          <form autocomplete="off" action="users/register" method="post">
            <input
              class="input-field"
              type="text"
              placeholder="Full Name"
              name="fullname"
            />
            <input
              class="input-field"
              type="email"
              placeholder="Email"
              name="email"
            />
            <input
              class="input-field"
              type="password"
              placeholder="Password"
              name="password"
            />
            <input
              class="submit-button"
              type="submit"
              value="Create My Account"
            />
          </form>
        </div>
      </div>
      <div class="right-section">
        <div class="form-wrapper">
          <h4>Login to your account</h4>
          <form autocomplete="off" action="/users/login" method="post">
            <input
              class="input-field"
              type="email"
              placeholder="Email"
              name="email"
            />
            <input
              class="input-field"
              type="password"
              placeholder="Password"
              name="password"
            />
            <input class="submit-button" type="submit" value="Login" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
