.Store span {
  font-weight: bold;
  padding: 8px;
}
.Store {
  display: flex;
  justify-content: space-between;
}
.Store a {
  text-decoration: none;
  color: black;

  margin: 20px;
}
.link {
  margin-top: 5px;
}
.link span a {
  color: red;
}

.product-section {
  background: red;
  width: 60%;
  margin-left: 20%;
  height: 450px;
  margin-top: 4%;
}
.image img {
  margin: 3%;
  border-radius: 100px;
}
.price {
  margin-right: 4%;
}
