/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

/* Notification message */
.notification {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #3b82f6;
  color: white;
  border-radius: 8px;
  text-align: center;
}

/* Container */
.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.container {
  display: flex;
  width: 90%;
  padding: 20px;
}

/* Sidebar */
.sidebar {
  width: 25%;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar-links a {
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.error-message {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  background-color: #f56565;
  color: white;
  border-radius: 8px;
}

.sidebar-links a:hover {
  color: #3b82f6;
}

/* Main Content */
.main-content {
  width: 75%;
  background-color: white;
  padding: 20px;
  margin-left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-content h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.form-section {
  margin-bottom: 15px;
}

/* Form Styling */
.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.input-file,
.input-text {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.input-text {
  padding: 10px 15px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Button */
.submit-button {
  background-color: #3b82f6;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: -10px;
}

.submit-button:hover {
  background-color: #2563eb;
}
