.hero-section {
  padding: 50px 0; /* Padding for the section */
  background-color: #f8f9fa; /* Light background color */
}

.text-section {
  margin-left: 200px;
}

.hero-text {
  font-size: 42px; /* Font size for hero text */
  font-weight: bold;
  color: #000;
  line-height: 1.2; /* Line height for text spacing */
}

.highlight {
  color: #ff5722; /* Highlight color */
}

.shop-now-btn {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #ffc107; /* Button background color */
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 4px;
}
.button {
  display: block;
  margin-top: 9px;
}

.row {
  align-items: center;
}
.shop-now-btn:hover {
  background-color: #e0a800; /* Hover effect */
}
.imagedev {
  width: 400px;
  height: 400px;
  margin-right: 15%;
}
.hero-image {
  max-width: 100%; /* Make sure the image doesn't exceed its container */
}

/* Media Queries for Responsiveness */
