/* Container */
.container {
  display: flex;
  padding: 20px;
  height: 100vh;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 22%;
  display: flex;
  flex-direction: column;
}
.store {
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
}
.filter {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.filter select {
  padding: 5px;
  border: 1px solid #000;
  margin-top: 11px;
}
.navigation {
  margin-top: 50px;
}
.filter-options {
  margin-top: 40%;
}

.navigation a,
.filter-options a {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 8px;
}

/* Products Section */
.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Product List */
.product-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Product Box */

.product {
  width: 200px;
  border: 2px solid black;
}

.product-image-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  width: 100%;
  height: 100%;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background: pink; */
}

.add-button {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
}
.add-button svg {
  width: 60%;
  height: 60%;
}
